# Server Configuration
PORT=3000
NODE_ENV=development

# PostgreSQL Configuration
DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=
DB_NAME=payment_orchestrator

# Production only settings for SSL connection
# DB_SSL=true
# DB_CA_CERT="-----BEGIN CERTIFICATE-----\n..."

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Observability
PROMETHEUS_PORT=9090

LOCALSTACK_AUTH_TOKEN=